*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body, html{height:100%}

:root {
    --lightgray: rgb(161, 157, 149);
    --blue: rgb(135, 148, 153);
    --white: rgb(219, 234, 236);
    --black: rgba(0, 0, 0, 0.6);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.open-modal {
    font-weight: bold;
    background: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
  
  
/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}
  
.modal.is-visible {
    visibility: visible;
    opacity: 1;
}
  
.modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 200vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
    opacity: 1;
}
  
.modal-dialog > * {
    padding: 1rem;
}
  
.modal-header,
.modal-footer {
    background: var(--lightgray);
}
  
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.modal-header .close-modal {
    font-size: 1.5rem;
}
  
.modal p + p {
    margin-top: 1rem;
}


/*primer box con dos cajas*/
.secEstadisticas{
    width: 950px;
    height: 180px;
    display:flex;
    flex-direction: row;
    margin: 5px;
    justify-content:center;
}

.secVentas{
    width: 950px;
    height: 180px;
    display:flex;
    flex-direction: row;
    margin: 5px;
    justify-content:center;
}

.cuadroEstadistica{
    width:40%;
    height: 200px;
    padding: 1.25em;
    display:flex;
    flex-direction: column;
}

.celda{
    text-align: left;
    width:100px;
}

.title{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.62em;
    color: white;
    font-size:1.25em;
    background-color: rgb(161, 157, 149);
    
}

.detalle{
    width:100%;
    height: 200px;
    display:flex;
    flex-direction:row;
    padding:0.62em;
    font-size: 0.94em;
    border: 1px solid;
    border-bottom: blue solid;
    border-color: rgb(207, 191, 201);
    background-color:rgb(219, 234, 236);
    /*background-color:rgb(128, 223, 240);*/
    justify-content: left;
}

 /*CAJA GRANDE DE VTAS*/
.modalNuevaVenta{
    width:720px;
}


.cabecera{
    width:100%;
    height: 50px;
    display:flex;
    flex-direction:row;
    padding:0.62em;
    background-color: rgb(161, 157, 149);
    
}

.btn{
    width:30%;
    height: 35px;
    border-radius:5px;
    color: rgba(234, 236, 230, 0.945);
    
    
}
/*FIN CAJA GRANDE VTAS*/

/*AGREGAR VENTAS*/
.cuaEstad{
    width:40%;
    height: 400px;
    padding: 1.25em;
    margin:50px;
    display:none;/* oculta la caja - flex*/
    flex-direction: column;
    justify-content:center;
    /*background-color:violet;*/
}

.titulo{
    width: 60%;
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: left;
    padding: 0.62em;
    color: rgb(248, 244, 248);
    font-size:1.25em;
    background-color: rgb(161, 157, 149); 
    
}
.detalle1{
    width:60%;
    height: 300px;
    display:flex;
    flex-direction:row;
    padding:0.62em;
    font-size: 1.5em;
    color: blue;
    border: 0px solid;
    /*border-bottom: blue solid;*/
    border-color: rgb(204, 224, 240);
    background-color:rgb(219, 234, 236);
    justify-content: left;
}
.form{
    display:flex;
    flex-direction:column;
 
}

.accion{
    width: 60%;
    height: 50px;
    display:flex;
    flex-direction: row;
    justify-content: right;
    padding: 0.62em;
    color: rgb(248, 244, 248);
    font-size:1.0em;
    background-color: rgb(161, 157, 149);
    
}
.save{
    width: 70px;
    height: 25px;
    color:white;
    background-color: green;
    border-radius:5px;
    font-size:0.94em;
    
}
.cnl{
    width: 70px;
    height: 25px;
    border-radius:5px;
}

/*FIN AGREGAR VENTAS*/

/*editar ventas*/
.cuaEliminar{
    width:40%;
    height: 400px;
    padding: 1.25em;
    display:none;/* oculta la caja - flex*/
    flex-direction: column;
    justify-content:center;
    /*background-color:violet;*/
}
 /*FIN EDITAR VENTAS*/   

/*ELIMINAR VENTAS*/
.eliminarvta{
    width: 90%;
    height: 50px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.62em;
    color: rgb(248, 244, 248);
    font-size:1.5em;
    background-color: rgb(161, 157, 149);
}
 
.tituloeliminar{
    width:70%;
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: left;
    padding: 0.62em;
    color: rgb(248, 244, 248);
    font-size:1.25em;
    background-color: rgb(161, 157, 149); 
    
}
.detalle2{
    width:50%;
    height: 100px;
    display:flex;
    flex-direction:column;
    padding:0.94em;
    font-size: 0.94em;
    color: blue;
    /*border: 1px solid;
    border-bottom: blue solid;*/
    border-color: rgb(204, 224, 240);
    background-color:rgb(219, 234, 236);
    justify-content: left;
}

.acciones{
    width: 70%;
    height: 50px;
    display:flex;
    flex-direction: row;
    justify-content: right;
    padding: 0.62em;
    color: rgb(248, 244, 248);
    font-size:1.0em;
    background-color: rgb(161, 157, 149);
    
}

.btneliminar{
    width: 70px;
    height: 25px;
    color:white;
    background-color:red;
    border-radius:5px;
    font-size:0.94em;
    
}

/*FIN ELIMINAR VENTAS*/


/*RESPONSIVE

@media (max-width:1024PX){*/
   

@media (max-width:768px){
   /*AGREGAR VENTAS*/
.cuaEstad{
    width:70%;
    height: 500px;

}
.cuaEliminar{
    width:60%;
    height: 400px;
}
.modalEliminarVentas{
    width: 100%;
    height:150px;
}

.tituloeliminar{
    width:80%;
    height: 40px;
 }   
.detalle2{
    width: 80%;
    height:150px;
    font-size:1.7em;
}
.acciones{
    width: 80%;
    
}
}




@media (max-width: 480px){
    nav{
        visibility: hidden;
    }
    #intro{
        display:flex;
        flex-direction: column;
        flex-direction: wrap;
    }
    #cite {
        font-size: 0.92em;
    }
    title{
        font-size: 2.5em;

    }
    .parrafo{
        text-align: center;
        display:flex-wrap;
    }
    .fin ul nav{
        display:flex;
        flex-direction:wrap;
    }
    .end ul icons{
        display:flex;
        flex-direction:wrap;
    }

}


